@model EmployeeViewModel
<div>

<img src ="~/files/images/@Model.ImageName" width="75" class=" img-fluid rounded"/>

</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input asp-for="IsActive" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input asp-for="HireDate" class="form-control" readonly />
</div>